<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>酷狗音乐 - 音乐总有新玩法</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="shortcut icon" href="../images/favicons.ico"/>
    <link rel="bookmark" href="../images/favicons.ico"/>
</head>
<body>
<div class="mainPage">
    <header class="header">
        <div class="logo">
            <h1>酷狗音乐</h1>
            <a href="index.html">
                <img src="../images/logo.png" alt="logo">
            </a>
        </div>

        <div class="search_wrapper">
            <div class="search_input">
                <input type="search" placeholder="请输入歌名">
                <div class="search_btn">
                    <i class="search_icon"></i>
                    <span>搜索</span>
                </div>
            </div>
        </div>
        <div class="topNav">
            <ul>
                <li><a href="#" target="_blank">客服中心</a></li>
                <li><a href="#" target="_blank">招纳贤士</a></li>
                <li><a href="#" target="_blank">会员中心</a></li>
            </ul>
        </div>
        <div class="login_area">
            <a href="#" class="login_btn">登录</a>
            <a href="#" class="regin_btn">注册</a>
        </div>
    </header>
    <nav class="navWrap">
        <div class="nav">
            <ul class="homeNav" id="homeNav">
                <li>
                    <a href="#" class="normal active">首页</a>
                </li>
                <li>
                    <a href="#" class="normal">榜单</a>
                </li>
                <li>
                    <a href="#" class="normal">下载客户端</a>
                </li>
                <li id="more" class="more">
                    <a href="#">更多</a>
                    <i class="icon" id="icon"></i>
                </li>
            </ul>
            <ul class="secondMenu" id="secondMenu">
                <li><a href="http://www.kugou.com/fmweb/html/index.html">电台</a></li>
                <li><a href="http://www.kugou.com/mvweb/html/">MV</a></li>
                <li><a href="http://www.kugou.com/yy/html/special.html">歌单</a></li>
                <li><a href="http://www.kugou.com/yy/html/singer.html">歌手</a></li>
            </ul>
            <ul class="subNav">
                <li>
                    <a href="#" class="icon icon-nav1" target="_blank">音乐直播</a>
                </li>
                <li>
                    <a href="#" class="icon icon-nav2" target="_blank">酷狗LIVE</a>
                </li>
                <li>
                    <a href="#" class="icon icon-nav3" target="_blank">音乐人</a>
                </li>
                <li>
                    <a href="#" class="icon icon-nav4" target="_blank">游戏</a>
                </li>
                <li>
                    <a href="#" class="icon icon-nav5" target="_blank">商城</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sliderWrap banner__main" id="banner__main">

        <!--<div class="banner">-->
        <!--<ul>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--<li><a href="#"></a></li>-->
        <!--</ul>-->
        <!--</div>-->

            <div class="banner" id="banner">
                <a href="javascript:;">
                    <div class="banner-slide slide1 slide-active"></div>
                </a>
                <a href="javascript:;">
                    <div class="banner-slide slide2"></div>
                </a>
                <a href="javascript:;">
                    <div class="banner-slide slide3"></div>
                </a>
                <a href="javascript:;">
                    <div class="banner-slide slide4"></div>
                </a>
            </div>
            <a href="javascript:;" class="banner__anchor icon__prev" id="prev">&lt;</a>
            <a href="javascript:;" class="banner__anchor icon__next" id="next">&gt;</a>
            <!-- <div class="buttons">
                <span class="buttons__active"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <div class="buttons" id="buttons">

            </div>


        <div class="downloadBlur">
            <div class="download">
                <a href="#" class="linePc">下载PC版</a>
                <span class="line"></span>
                <a href="#" class="lineIphone">下载iPhone版</a>
                <span class="line"></span>
                <a href="#" class="lineAndroid">下载Android版</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="subContentM">
            <!--精选歌单-->
            <div class="itemM">
                <div class="itemTiele">
                    <h3 class="jxgd">
                        <b>精选</b>
                        歌单
                    </h3>
                    <a href="#" target="_blank" class="moreR">更多</a>
                </div>
                <div class="itemComtentL">

                    <div class="cpt cptBig">
                        <a href="#" target="_blank" class="itemZA">
                            <div class="play_btn">播放</div>
                        </a>
                        <p class="cptT">
                            <span class="icon"></span>
                            <span class="num">23.1万</span>
                        </p>
                        <img src="http://imge.kugou.com/soft/collection/480/20170903/20170903222002807620.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">蒙面唱将2 第一期</p>
                            <p class="songListSinger">蒙面唱将猜猜猜</p>
                        </div>
                    </div>
                    <div class="cpt cptMid">
                        <a href="#" target="_blank" class="itemZA">
                            <div class="play_btn">播放</div>
                        </a>
                        <p class="cptT">
                            <span class="icon"></span>
                            <span class="num">13.9万</span>
                        </p>
                        <img src="http://imge.kugou.com/soft/collection/150/20170831/20170831173838294250.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">酷狗音乐...</p>
                            <p class="songListSinger">酷狗电疗中心</p>
                        </div>
                    </div>
                    <div class="cpt cptMid">
                        <a href="#" target="_blank" class="itemZA">
                            <div class="play_btn">播放</div>
                        </a>
                        <p class="cptT">
                            <span class="icon"></span>
                            <span class="num">4598.9万</span>
                        </p>
                        <img src="http://imge.kugou.com/soft/collection/150/20170527/20170527180146229856.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">酷狗音乐...」</p>
                            <p class="songListSinger">酷狗电疗中心</p>
                        </div>
                    </div>
                    <div class="cpt cptMid">
                        <a href="#" target="_blank" class="itemZA">
                            <div class="play_btn">播放</div>
                        </a>
                        <p class="cptT">
                            <span class="icon"></span>
                            <span class="num">4034.1万</span>
                        </p>
                        <img src="http://imge.kugou.com/soft/collection/150/20161027/20161027150941906197.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">酷狗音乐...</p>
                            <p class="songListSinger">酷狗电疗中心</p>
                        </div>
                    </div>
                    <div class="cpt cptMid">
                        <a href="#" target="_blank" class="itemZA">
                            <div class="play_btn">播放</div>
                        </a>
                        <p class="cptT">
                            <span class="icon"></span>
                            <span class="num">5061.8万</span>
                        </p>
                        <img src="http://imge.kugou.com/soft/collection/150/20170104/20170104162813421924.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">酷狗音乐...」 </p>
                            <p class="songListSinger">酷狗电疗中心</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 热门歌单 -->
            <div class="itemMR">
                <div class="itemTiele">
                    <h3 class="rmgd">
                        <b>精选</b>
                        歌单
                    </h3>
                    <a href="#" target="_blank" class="moreRR">更多</a>
                </div>
                <div class="itemComtentR">
                    <div class="listItem">
                        <a href="#">
                            <div class="Cover">
                                <img src="http://imge.kugou.com/v2/rank_cover/T1M4h4BKKj1RCvBVdK.jpg_240x240.jpg"
                                     alt="">
                            </div>
                            <span class="arrow"></span>
                            <div class="list">
                                <dl>
                                    <dt>酷狗飙升榜</dt>
                                    <dd>1 . 庄心妍 - 恨嫁</dd>
                                    <dd>2 . 荷兹HeZ - ....(Live)</dd>
                                </dl>
                            </div>
                        </a>
                    </div>
                    <div class="listItem">
                        <a href="#">
                            <div class="Cover">
                                <img src="http://imge.kugou.com/v2/rank_cover/T1fHd4BXd_1RCvBVdK.jpg_240x240.jpg"
                                     alt="">
                            </div>
                            <span class="arrow"></span>
                            <div class="list">
                                <dl>
                                    <dt>酷狗飙升榜</dt>
                                    <dd>1 . 庄心妍 - 恨嫁</dd>
                                    <dd>2 . 荷兹HeZ - ....(Live)</dd>
                                </dl>
                            </div>
                        </a>
                    </div>
                    <div class="listItem">
                        <a href="#">
                            <div class="Cover">
                                <img src="http://imge.kugou.com/v2/rank_cover/T1Fpd4BKbg1RCvBVdK.jpg_240x240.jpg"
                                     alt="">
                            </div>
                            <span class="arrow"></span>
                            <div class="list">
                                <dl>
                                    <dt>酷狗飙升榜</dt>
                                    <dd>1 . 庄心妍 - 恨嫁</dd>
                                    <dd>2 . 荷兹HeZ - ....(Live)</dd>
                                </dl>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="subContentTwo">
            <!-- 新歌首发 -->
            <div class="itemTwoLeftContent">
                <div class="itemTwoLeftTiele">
                    <div class="itemTiele itemTitleBOrder">
                        <h3 class="xgsf">
                            <b>精选</b>
                            歌单
                        </h3>
                        <div class="itemTwoLeftTextMenu" id="tab-list">
                            <span class="MenuItem tab-active">华语</span>
                            <span class="MenuItem">欧美</span>
                            <span class="MenuItem">韩国</span>
                            <span class="MenuItem">日本</span>
                        </div>
                        <a href="#" target="_blank" class="moreR palyAll">
                            <i class="icon-play"></i>
                            全部播放
                        </a>
                    </div>
                </div>
                <div class="itemTwoLeftContent tab-content tab-show">
                    <ul>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadjfZ华语
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesf华语
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baes
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjad
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="itemTwoLeftContent tab-content tab-hide">
                    <ul>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadjfZ欧美
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesf
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baes
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjad
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="itemTwoLeftContent tab-content tab-hide">
                    <ul>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadjfZ韩国
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesf
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baes
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjad
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="itemTwoLeftContent tab-content tab-hide">
                    <ul>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadjfZ日本
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesf
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baes
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjad
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hangzoo ziont -baesfjadj
                                <span class="songTips"></span>
                                <span class="icon-playBtn"></span>
                                <span class="icon-download"></span>
                                <span class="icon-Time">02:52</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="pages">
                    <div class="pagesCenter">
                        <a href="#" class="pages-prev">上一页</a>
                        <span class="pages-currentPage">1</span>
                        /
                        <span class="pages-allPage">3</span>
                        <a href="#" class="pages-next">下一页</a>
                    </div>
                </div>
            </div>
            <!--推荐Mv-->
            <div class="itemTwoRightContent">
                <div class="itemTiele itemTwoRightContentTitle">
                    <h3 class="tjmv">
                        <b>精选</b>
                        歌单
                    </h3>
                    <a href="#" target="_blank" class="moreRR">更多</a>
                </div>
                <div class="itemTwoRightContentBigL cpt">
                    <a href="#" target="_blank" class="itemZA">
                        <div class="play_btn">播放</div>
                    </a>
                    <a href="#" target="_blank">
                        <img src="http://imge.kugou.com/mvhdpic/400/20170904/20170904103711191371.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">蒙面唱将2 第一期</p>
                            <p class="songListSinger">蒙面唱将猜猜猜</p>
                        </div>
                    </a>
                </div>
                <div class="itemTwoRightContentMidl iTRCL cpt">
                    <a href="#" target="_blank" class="itemZA">
                        <a href="#" target="_blank">
                            <img src="http://imge.kugou.com/commendpic/20170901/20170901173452988555.jpg" alt="">
                            <div class="cptB">
                                <p class="songListName">蒙面唱将2 第一期</p>
                                <p class="songListSinger">蒙面唱将猜猜猜</p>
                            </div>
                        </a>
                </div>
                <div class="itemTwoRightContentMidl iTRCR cpt">
                    <a href="#" target="_blank" class="itemZA">
                    </a>
                    <a href="#" target="_blank">
                        <img src="http://imge.kugou.com/commendpic/20170829/20170829105557141886.jpg" alt="">
                        <div class="cptB">
                            <p class="songListName">蒙面唱将2 第一期</p>
                            <p class="songListSinger">蒙面唱将猜猜猜</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--banner-->
        <div class="forbanner">
            <img src="http://adsfile.bssdlbig.kugou.com/771c168b558167320b7d482cd5768db4.jpg" alt="">
        </div>
        <!--partener-->
        <div class="partner">
            <div class="itemTiele">
                <h3 class="hzhb">
                    <b>合作</b>
                    伙伴
                </h3>
                <a href="#" target="_blank" class="moreRR">更多</a>
            </div>
            <div class="itemContent">
                <ul>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner02.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner01.jpg" alt="">
                    </a></li>

                    <li><a href="#">
                        <img src="http://static.kgimg.com/public/root//images/logo/partner21.jpg" alt="">
                    </a></li>
                </ul>
            </div>

        </div>
        <!--link-->
        <div class="firendLink">
            <div class="itemTiele">
                <h3 class="yqlj">
                    <b>有情</b>
                    连接
                </h3>
                <a href="#" target="_blank" class="moreRR">更多</a>
            </div>
            <div class="linkContent">


                <a target="_blank" href="http://www.lady8844.com/" title="爱美网">爱美网</a>

                <a target="_blank" href="http://ent.cntv.cn/" title="央视网综艺频道">央视网综艺频道</a>

                <a target="_blank" href="http://www.warsu.com" title="华数唱片">华数唱片</a>

                <a target="_blank" href="http://baa.bitauto.com/" title="汽车论坛">汽车论坛</a>

                <a target="_blank" href="http://www.ithome.com/" title="IT之家">IT之家</a>

                <a target="_blank" href="http://www.25pp.com" title="iPhone游戏">iPhone游戏</a>

                <a target="_blank" href="http://you.ctrip.com/" title="旅游攻略">旅游攻略</a>

                <a target="_blank" href="http://www.yswxcn.com/" title="悦声无限">悦声无限</a>

                <a target="_blank" href="http://www.vmall.com/" title="华为商城">华为商城</a>

                <a target="_blank" href="http://www.yue365.com/" title="365音乐网">365音乐网</a>

                <a target="_blank" href="http://www.xiazaiba.com" title="软件下载">软件下载</a>

                <a target="_blank" href="http://www.manmankan.com/" title="漫漫看漫画">漫漫看漫画</a>

                <a target="_blank" href="http://www.9game.cn" title="手机游戏">手机游戏</a>

                <a target="_blank" href="http://5sing.kugou.com" title="5sing原创音乐">5sing原创音乐</a>

                <a target="_blank" href="http://y.tencentmusic.com​" title="腾讯音乐人">腾讯音乐人</a>


                <a target="_blank" href="http://www.lady8844.com/" title="爱美网">爱美网</a>

                <a target="_blank" href="http://ent.cntv.cn/" title="央视网综艺频道">央视网综艺频道</a>

                <a target="_blank" href="http://www.warsu.com" title="华数唱片">华数唱片</a>

                <a target="_blank" href="http://baa.bitauto.com/" title="汽车论坛">汽车论坛</a>

                <a target="_blank" href="http://www.ithome.com/" title="IT之家">IT之家</a>

                <a target="_blank" href="http://www.25pp.com" title="iPhone游戏">iPhone游戏</a>

                <a target="_blank" href="http://you.ctrip.com/" title="旅游攻略">旅游攻略</a>

                <a target="_blank" href="http://www.yswxcn.com/" title="悦声无限">悦声无限</a>

                <a target="_blank" href="http://www.vmall.com/" title="华为商城">华为商城</a>

                <a target="_blank" href="http://www.yue365.com/" title="365音乐网">365音乐网</a>

                <a target="_blank" href="http://www.xiazaiba.com" title="软件下载">软件下载</a>

                <a target="_blank" href="http://www.manmankan.com/" title="漫漫看漫画">漫漫看漫画</a>

                <a target="_blank" href="http://www.9game.cn" title="手机游戏">手机游戏</a>

                <a target="_blank" href="http://5sing.kugou.com" title="5sing原创音乐">5sing原创音乐</a>

                <a target="_blank" href="http://y.tencentmusic.com​" title="腾讯音乐人">腾讯音乐人</a>
                <a target="_blank" href="http://y.tencentmusic.com​" title="腾讯音乐人">腾讯音乐人</a>
                <a target="_blank" href="http://y.tencentmusic.com​" title="腾讯音乐人">腾讯音乐人</a>

            </div>
        </div>
    </div>
    <!--footer-->
    <footer class="footer">
        <div class="links">
            <p>
                <a href="http://www.kugou.com/about/aboutus.html" target="_blank">关于酷狗</a>
                |
                <a href="javascript:void(0);" id="report">监督举报</a>
                |
                <a href="http://www.kugou.com/about/adservice.html" target="_blank">广告服务</a>
                |
                <a target="_blank" href="http://www.kugou.com/about/copyRightGuide.html">版权指引</a>
                |
                <a target="_blank" href="http://www.kugou.com/about/privacy.html ">隐私政策</a>
                |
                <a target="_blank" href="http://www.kugou.com/about/protocol.html">用户服务协议</a>
                |
                <a target="_blank" href="http://www.kugou.com/company/partners.html">推广合作</a>
                |
                <a target="_blank" href="http://www.kugou.com/imusic/">酷狗音乐人</a>
                |
                <a target="_blank" href="http://tui.kugou.com/">酷狗音乐推</a>
                |
                <a href="http://kugou.hirede.com" target="_blank">招聘信息</a>
                |
                <a href="http://www.kugou.com/shop/help/serviceCenter" target="_blank">客服中心</a>
                |
                <a href="http://survey.kugou.com/default/index/i=40CD7B8437008E65E67D82D9044C15C99C2E699859F51338"
                   target="_blank">用户体验提升计划</a>

            </p>
        </div>
        <div class="copyright">
            <p>我们致力于推动网络正版音乐发展，相关版权合作请联系copyrights@kugou.com</p>
            <p>信息网络传播视听节目许可证 1910564 增值电信业务经营许可证粤B2-20060339 &nbsp;&nbsp;&nbsp;<a target="_blank"
                                                                                  href="http://www.miitbeian.gov.cn/">粤ICP备09017694号-2</a><span
                    class="footerIcon"><a target="_blank"
                                          href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/E64D2439A71544C7B995FC0A53D8F965">&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
            </p>
            <p>广播电视节目制作经营许可证（粤）字第01270号&nbsp;&nbsp;&nbsp;&nbsp;营业性演出许可证穗天演440106026</p>
            <p>穗公网监备案证第44010650010167&nbsp;&nbsp;&nbsp;&nbsp;互联网药品信息服务资格证编号（粤）-非经营性-2012-0018</p>
            <p>Copyright&nbsp;&nbsp;©&nbsp;&nbsp;2004-2017 KuGou-Inc.All Rights Reserved
                <a class="office-verification"
                   href="http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=440106106022006022000209"
                   target="_blank"></a>
            </p>
        </div>
    </footer>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/banner.js"></script>
<script src="../js/tab.js"></script>
</body>
</html>
